<head><link href="./css/app.css" rel="stylesheet"></head><footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="footer_elem">
                        <h3 class="footer_elem_title">About</h3>
                        <p class="footer_elem_desc">Lorem ipsum dolor sit amet, consec
                            tetur adipisicing elit, sed do eiusmod tempor incididunt ultimam quantum</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="footer_elem2">
                        <div class="row">
                            <div class="col-4">
                                <nav class="footer_navigation">
                                    <h3 class="small_nav-title">About</h3>
                                    <ul class="small_nav">
                                        <li class="small_nav-elem"><a href="" class="bold">Team</a></li>
                                        <li class="small_nav-elem"><a href="" class="bold">Join us</a></li>
                                        <li class="small_nav-elem"><a href="" class="bold">Ethic</a></li>
                                        <li class="small_nav-elem"><a href="" class="bold">Goals</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-4">
                                <nav class="footer_navigation">
                                    <h3 class="small_nav-title">About</h3>
                                    <ul class="small_nav">
                                        <li class="small_nav-elem"><a href="" class="bold">Team</a></li>
                                        <li class="small_nav-elem"><a href="" class="bold">Join us</a></li>
                                        <li class="small_nav-elem"><a href="" class="bold">Ethic</a></li>
                                        <li class="small_nav-elem"><a href="" class="bold">Goals</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-4">
                                <nav class="footer_navigation">
                                    <h3 class="small_nav-title">About</h3>
                                    <ul class="small_nav">
                                        <li class="small_nav-elem"><a href="" class="bold">Team</a></li>
                                        <li class="small_nav-elem"><a href="" class="bold">Join us</a></li>
                                        <li class="small_nav-elem"><a href="" class="bold">Ethic</a></li>
                                        <li class="small_nav-elem"><a href="" class="bold">Goals</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer><script type="text/javascript" src="./js/app.js"></script>