<head><link href="./css/app.css" rel="stylesheet"></head><header class="header">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="logo">
                        <div class="logo_text">
                            <a href="#" class="bold">brunch</a>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <nav class="navigation">
                        <ul class="menu">
                            <li class="menu_item"><a class="menu_link bold" href="">welcome</a></li>
                            <li class="menu_item"><a class="menu_link bold" href="">menu</a></li>
                            <li class="menu_item"><a class="menu_link bold" href="">events</a></li>
                            <li class="menu_item"><a class="menu_link bold" href="">contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header><script type="text/javascript" src="./js/app.js"></script>