<head><link href="./css/app.css" rel="stylesheet"></head><main class="main">

        <!-- Banner1 -->
        <section class="group1">
                    <div class="container">
                        <div class="group1_banner">
                            <h2 class="title">Brunch</h2>
                            <p class="description semi-bold">full website</p>
                            <a class="group1_banner_addition" href="">read more</a>
                        </div>
                    </div>
                </section>
        <!-- Indian traditional flavours -->
        <section class="group2">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="flavours_text">
                            <h3 class="flavours_title">Indian traditional flavours</h3>
                            <p class="flavours_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="flavours_image">
                            <img src="../../img/two_spoons.png" alt="two_spoons">
                        </div>
                    </div>
                </div>
            </div>
        </section>        
        <!-- New dishes -->
        <section class="group3">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="list_element">
                            <div class="list-cicles">
                                <div class="list_element-cicle"> </div>
                            </div>
                            <p class="list_element-title">New tastes</p>
                            <p class="list_element-description">Lorem ipsum dolor sit amet, consecte sectetur
                                adipisicing elit, tation omne ullamco laboris nisi ut aliqolore.</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="list_element">
                            <div class="list-cicles">
                                <div class="list_element-cicle"> </div>
                                <div class="list_element-cicle"> </div>
                            </div>
                            <p class="list_element-title">New spices</p>
                            <p class="list_element-description">Lorem ipsum dolor sit amet, consecte sectetur
                                adipisicing elit, tation omne ullamco laboris nisi ut aliqolore.</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="list_element">
                            <div class="list-cicles">
                                <div class="list_element-cicle"> </div>
                                <div class="list_element-cicle"> </div>
                                <div class="list_element-cicle"> </div>
                            </div>
                            <p class="list_element-title">New dishes</p>
                            <p class="list_element-description">Lorem ipsum dolor sit amet, consecte sectetur
                                adipisicing elit, tation omne ullamco laboris nisi ut aliqolore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- India on your plate -->
        <section class="group4">
            <div class="container">
                <div class="group4_inner">
                    <div class="plate_name">
                        <h2 class="title">India</h2>
                        <h3 class="description">on your plate</h3>
                    </div>
                    <div class="plate_dishes">
                        <div class="plate_element">
                            <img src="../../img/dish1.png" alt="dish1">
                        </div>
                        <div class="plate_element">
                            <div class="plate_text">
                                <p class="plate_title bold">Tikka chicken</p>
                                <p class="plate_description">Lorem ipsum dolor
                                    sit amet, consectetur
                                    adipisicing elit sed do</p>
                                <p class="plate_price bold">$14.95</p>
                            </div>
                        </div>
                        <div class="plate_element">
                            <img src="../../img/dish2.png" alt="dish2">
                        </div>
                        <div class="plate_element">
                            <div class="plate_text">
                                <p class="plate_title bold">Spicy wedges</p>
                                <p class="plate_description">Lorem ipsum dolor
                                    sit amet, consectetur
                                    adipisicing elit sed do</p>
                                <p class="plate_price bold">$10.95</p>
                            </div>
                        </div>
                        <div class="plate_element">
                            <div class="plate_text">
                                <p class="plate_title bold">Chicken curry</p>
                                <p class="plate_description">Lorem ipsum dolor
                                    sit amet, consectetur
                                    adipisicing elit sed do</p>
                                <p class="plate_price bold">$14.95</p>
                            </div>
                        </div>
                        <div class="plate_element">
                            <img src="../../img/dish3.png" alt="dish3">
                        </div>
                        <div class="plate_element">
                            <div class="plate_text">
                                <p class="plate_title bold">Red curry</p>
                                <p class="plate_description">Lorem ipsum dolor
                                    sit amet, consectetur
                                    adipisicing elit sed do</p>
                                <p class="plate_price bold">$18.95</p>
                            </div>
                        </div>
                        <div class="plate_element">
                            <img src="../../img/dish4.png" alt="dish4">
                        </div>
                        <div class="plate_element">
                            <img src="../../img/dish5.png" alt="dish5">
                        </div>
                        <div class="plate_element">
                            <div class="plate_text">
                                <p class="plate_title bold">Spicy veggies</p>
                                <p class="plate_description">Lorem ipsum dolor
                                    sit amet, consectetur
                                    adipisicing elit sed do</p>
                                <p class="plate_price bold">$11.95</p>
                            </div>
                        </div>
                        <div class="plate_element">
                            <img src="../../img/dish6.png" alt="dish6">
                        </div>
                        <div class="plate_element">
                            <div class="plate_text">
                                <p class="plate_title bold">spicy mix</p>
                                <p class="plate_description">Lorem ipsum dolor
                                    sit amet, consectetur
                                    adipisicing elit sed do</p>
                                <p class="plate_price bold">$11.95</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Traditional cuisine made easy -->
        <section class="group5">
            <div class="container">
                <div class="cuisine">
                    <h3 class="cuisine_title">Traditional cuisine made easy</h3>
                    <p class="cuisine_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                    <div class="list-cicles">
                        <div class="list_element-cicle"> </div>
                        <div class="list_element-cicle"> </div>
                        <div class="list_element-cicle"> </div>
                    </div>
                    <ul class="small_menu">
                        <li class="small_menu-element"><a href="" class="bold">Meals</a></li>
                        <li class="small_menu-element"><a href="" class="bold">Spices</a></li>
                        <li class="small_menu-element"><a href="" class="bold">Book</a></li>
                        <li class="small_menu-element"><a href="" class="bold">Gallery</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Discover -->
        <section class="group6">
            <div class="discover">
                <h2 class="title">Discover</h2>
                <h3 class="description">our new menu</h3>
                <div class="row">
                    <div class="col-6">
                        <div class="discover_elem">
                            <div class="row">
                                <div class="col-3">
                                    <img src="../../img/chicken.png" class="discover_svg">
                                </div>
                                <div class="col-9">
                                    <div class="discover_text">
                                        <p class="discover_text-title bold">SOUP OF the day</p>
                                        <p class="discover_text_description">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit sed do oculis <span class="discover_price bold">$14.95</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="discover_elem">
                            <div class="row">
                                <div class="col-3">
                                    <img src="../../img/soup.png" alt="soup" class="discover_svg">
                                </div>
                                <div class="col-9">
                                    <div class="discover_text">
                                        <p class="discover_text-title bold">SOUP OF the day</p>
                                        <p class="discover_text_description">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit sed do oculis <span class="discover_price bold">$7.95</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="discover_elem">
                            <div class="row">
                                <div class="col-3">
                                    <img src="../../img/papadums.png" alt="papadums" class="discover_svg">
                                </div>
                                <div class="col-9">
                                    <div class="discover_text">
                                        <p class="discover_text-title bold">SOUP OF the day</p>
                                        <p class="discover_text_description">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit sed do oculis <span class="discover_price bold">$1.95</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="discover_elem">
                            <div class="row">
                                <div class="col-3">
                                    <img src="../../img/yellow curry.png" alt="yellow curry" class="discover_svg">
                                </div>
                                <div class="col-9">
                                    <div class="discover_text">
                                        <p class="discover_text-title bold">SOUP OF the day</p>
                                        <p class="discover_text_description">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit sed do oculis <span class="discover_price bold">$15.95</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="discover_elem">
                            <div class="row">
                                <div class="col-3">
                                    <img src="../../img/chicken curry.png" alt="chicken curry" class="discover_svg">
                                </div>
                                <div class="col-9">
                                    <div class="discover_text">
                                        <p class="discover_text-title bold">SOUP OF the day</p>
                                        <p class="discover_text_description">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit sed do oculis <span class="discover_price bold">$12.95</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="discover_elem">
                            <div class="row">
                                <div class="col-3">
                                    <img src="../../img/spicy meatbolls.png" alt="spicy meatbolls" class="discover_svg">
                                </div>
                                <div class="col-9">
                                    <div class="discover_text">
                                        <p class="discover_text-title bold">SOUP OF the day</p>
                                        <p class="discover_text_description">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit sed do oculis <span class="discover_price bold">$18.95</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner2 -->
        <section class="group7">
        </section>      
        <!-- Book here-->
        <section class="group8">
            <div class="container">
                <div class="book_here">
                    <h2 class="title book_title">Book here</h2>
                    <form name="book" method="post" action="input1.php">
                        <div class="row row_of_book">
                            <div class="col-4">
                                <div class="book_elem">
                                    <p class="form_title bold">How many people?</p>
                                    <div class="form_action">
                                        <select class="form_action_space list_people" name="people" id="people">
                                            <option>1 person</option>
                                            <option selected>2 people</option>
                                            <option>3 people</option>
                                            <option>4 people</option>
                                            <option>5 people</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="book_elem">
                                    <p class="form_title bold">When is your data?</p>
                                    <div class="form_action">
                                        <input class="form_action_space" type="date" name="calendar" id="calendar"
                                            value="17-02-2020" min="01-01-2019" max="31-12-2025">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="book_elem">
                                    <p class="form_title bold">Time</p>
                                    <div class="form_action">
                                        <input class="form_action_space" type="time" name="time" id="time" value="10:00"
                                            min="00:00" max="24:00">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row_of_book">
                            <div class="col-4">
                                <div class="book_elem">
                                    <p class="form_title bold">Name</p>
                                    <div class="form_action">
                                        <input class="form_action_space" type="text" name="name" id="name" value="Full name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="book_elem">
                                    <p class="form_title bold">Email</p>
                                    <div class="form_action">
                                        <input class="form_action_space" type="email" name="email" id="email"
                                            value="Your email adress">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="book_elem">
                                    <p class="form_title bold">Phone</p>
                                    <div class="form_action">
                                        <input class="form_action_space" type="tel" name="phone" id="phone"
                                            pattern="+[0-9]{3}([0-9]{2})[0-9]{3}-[0-9]{2}-[0-9]{2}" maxlength=13
                                            value="+375(44)999-99-99">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="bold button_sub"><button class="form_action_space button_sub_in" type="submit"
                                form="data">submit</button></p>
                    </form>
                </div>
            </div>
        </section>
        <!-- banner3 -->
        <section class="group9">
        </section>
        <!-- discover2 -->
        <section class="group10">
            <div class="container">
                <div class="discover2">
                    <h2 class="title">Discover</h2>
                    <h3 class="description">our new menu</h3>
                    <div class="row">
                        <div class="col-4">
                            <div class="discover_goods">
                                <img src="../../img/goods1.png" alt="goods1">
                                <div class="goods_text">
                                    <p class="goods_data bold">Food / 16th March, 2019</p>
                                    <p class="goods_title bold">Lorem ipsum dolor sit</p>
                                    <p class="goods_description">Lorem ipsum dolor sit amet,<br>
                                        consectetur adipisicing elit, sed</p>
                                    <a href="" class="link_read bold">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="discover_goods">
                                <img src="../../img/goods2.png" alt="goods2">
                                <div class="goods_text">
                                    <p class="goods_data bold">Spices / 16th March, 2019</p>
                                    <p class="goods_title bold">Lorem ipsum dolor sit</p>
                                    <p class="goods_description">Lorem ipsum dolor sit amet,<br>
                                        consectetur adipisicing elit, sed</p>
                                    <a href="" class="link_read bold">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="discover_goods">
                                <img src="../../img/goods3.png" alt="goods3">
                                <div class="goods_text">
                                    <p class="goods_data bold">Chicken Curry / 16th March, 2019</p>
                                    <p class="goods_title bold">Lorem ipsum dolor sit</p>
                                    <p class="goods_description">Lorem ipsum dolor sit amet,<br>
                                        consectetur adipisicing elit, sed</p>
                                    <a href="" class="link_read bold">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- quote -->
        <section class="group11">
                    <p class="quote"><i class="fas fa-quote-left"></i></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<br> ut labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                    <p class="bold ">Linda Steward</p>
                    <div class="networks">
                        <a href="" class="networks_elem"><i class="fab fa-facebook-f"></i></a>
                        <a href="" class="networks_elem"><i class="fab fa-twitter"></i></a>
                        <a href="" class="networks_elem"><i class="fab fa-instagram"></i></a>
                        <a href="" class="networks_elem"><i class="fab fa-pinterest-p"></i></a>
                        <a href="" class="networks_elem"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </section>        
    </main><script type="text/javascript" src="./js/app.js"></script>