<head><link href="./css/app.css" rel="stylesheet"></head><section class="group6">
    <div class="discover">
        <h2 class="title">Discover</h2>
        <h3 class="description">our new menu</h3>
        <div class="row">
            <div class="col-6">
                <div class="discover_elem">
                    <div class="row">
                        <div class="col-3">
                            <img src="../../img/chicken.png" class="discover_svg">
                        </div>
                        <div class="col-9">
                            <div class="discover_text">
                                <p class="discover_text-title bold">SOUP OF the day</p>
                                <p class="discover_text_description">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit sed do oculis <span class="discover_price bold">$14.95</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="discover_elem">
                    <div class="row">
                        <div class="col-3">
                            <img src="../../img/soup.png" alt="soup" class="discover_svg">
                        </div>
                        <div class="col-9">
                            <div class="discover_text">
                                <p class="discover_text-title bold">SOUP OF the day</p>
                                <p class="discover_text_description">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit sed do oculis <span class="discover_price bold">$7.95</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="discover_elem">
                    <div class="row">
                        <div class="col-3">
                            <img src="../../img/papadums.png" alt="papadums" class="discover_svg">
                        </div>
                        <div class="col-9">
                            <div class="discover_text">
                                <p class="discover_text-title bold">SOUP OF the day</p>
                                <p class="discover_text_description">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit sed do oculis <span class="discover_price bold">$1.95</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="discover_elem">
                    <div class="row">
                        <div class="col-3">
                            <img src="../../img/yellow curry.png" alt="yellow curry" class="discover_svg">
                        </div>
                        <div class="col-9">
                            <div class="discover_text">
                                <p class="discover_text-title bold">SOUP OF the day</p>
                                <p class="discover_text_description">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit sed do oculis <span class="discover_price bold">$15.95</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="discover_elem">
                    <div class="row">
                        <div class="col-3">
                            <img src="../../img/chicken curry.png" alt="chicken curry" class="discover_svg">
                        </div>
                        <div class="col-9">
                            <div class="discover_text">
                                <p class="discover_text-title bold">SOUP OF the day</p>
                                <p class="discover_text_description">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit sed do oculis <span class="discover_price bold">$12.95</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="discover_elem">
                    <div class="row">
                        <div class="col-3">
                            <img src="../../img/spicy meatbolls.png" alt="spicy meatbolls" class="discover_svg">
                        </div>
                        <div class="col-9">
                            <div class="discover_text">
                                <p class="discover_text-title bold">SOUP OF the day</p>
                                <p class="discover_text_description">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit sed do oculis <span class="discover_price bold">$18.95</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>