<head><link href="./css/app.css" rel="stylesheet"></head><section class="group10">
    <div class="container">
        <div class="discover2">
            <h2 class="title">Discover</h2>
            <h3 class="description">our new menu</h3>
            <div class="row">
                <div class="col-4">
                    <div class="discover_goods">
                        <img src="../../img/goods1.png" alt="goods1">
                        <div class="goods_text">
                            <p class="goods_data bold">Food / 16th March, 2019</p>
                            <p class="goods_title bold">Lorem ipsum dolor sit</p>
                            <p class="goods_description">Lorem ipsum dolor sit amet,<br>
                                consectetur adipisicing elit, sed</p>
                            <a href="" class="link_read bold">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="discover_goods">
                        <img src="../../img/goods2.png" alt="goods2">
                        <div class="goods_text">
                            <p class="goods_data bold">Spices / 16th March, 2019</p>
                            <p class="goods_title bold">Lorem ipsum dolor sit</p>
                            <p class="goods_description">Lorem ipsum dolor sit amet,<br>
                                consectetur adipisicing elit, sed</p>
                            <a href="" class="link_read bold">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="discover_goods">
                        <img src="../../img/goods3.png" alt="goods3">
                        <div class="goods_text">
                            <p class="goods_data bold">Chicken Curry / 16th March, 2019</p>
                            <p class="goods_title bold">Lorem ipsum dolor sit</p>
                            <p class="goods_description">Lorem ipsum dolor sit amet,<br>
                                consectetur adipisicing elit, sed</p>
                            <a href="" class="link_read bold">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>