<head><link href="./css/app.css" rel="stylesheet"></head><section class="group2">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="flavours_text">
                    <h3 class="flavours_title">Indian traditional flavours</h3>
                    <p class="flavours_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris </p>
                </div>
            </div>
            <div class="col-6">
                <div class="flavours_image">
                    <img src="../../img/two_spoons.png" alt="two_spoons">
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>