<head><link href="./css/app.css" rel="stylesheet"></head><section class="group4">
    <div class="container">
        <div class="group4_inner">
            <div class="plate_name">
                <h2 class="title">India</h2>
                <h3 class="description">on your plate</h3>
            </div>
            <div class="plate_dishes">
                <div class="plate_element">
                    <img src="../../img/dish1.png" alt="dish1">
                </div>
                <div class="plate_element">
                    <div class="plate_text">
                        <p class="plate_title bold">Tikka chicken</p>
                        <p class="plate_description">Lorem ipsum dolor
                            sit amet, consectetur
                            adipisicing elit sed do</p>
                        <p class="plate_price bold">$14.95</p>
                    </div>
                </div>
                <div class="plate_element">
                    <img src="../../img/dish2.png" alt="dish2">
                </div>
                <div class="plate_element">
                    <div class="plate_text">
                        <p class="plate_title bold">Spicy wedges</p>
                        <p class="plate_description">Lorem ipsum dolor
                            sit amet, consectetur
                            adipisicing elit sed do</p>
                        <p class="plate_price bold">$10.95</p>
                    </div>
                </div>
                <div class="plate_element">
                    <div class="plate_text">
                        <p class="plate_title bold">Chicken curry</p>
                        <p class="plate_description">Lorem ipsum dolor
                            sit amet, consectetur
                            adipisicing elit sed do</p>
                        <p class="plate_price bold">$14.95</p>
                    </div>
                </div>
                <div class="plate_element">
                    <img src="../../img/dish3.png" alt="dish3">
                </div>
                <div class="plate_element">
                    <div class="plate_text">
                        <p class="plate_title bold">Red curry</p>
                        <p class="plate_description">Lorem ipsum dolor
                            sit amet, consectetur
                            adipisicing elit sed do</p>
                        <p class="plate_price bold">$18.95</p>
                    </div>
                </div>
                <div class="plate_element">
                    <img src="../../img/dish4.png" alt="dish4">
                </div>
                <div class="plate_element">
                    <img src="../../img/dish5.png" alt="dish5">
                </div>
                <div class="plate_element">
                    <div class="plate_text">
                        <p class="plate_title bold">Spicy veggies</p>
                        <p class="plate_description">Lorem ipsum dolor
                            sit amet, consectetur
                            adipisicing elit sed do</p>
                        <p class="plate_price bold">$11.95</p>
                    </div>
                </div>
                <div class="plate_element">
                    <img src="../../img/dish6.png" alt="dish6">
                </div>
                <div class="plate_element">
                    <div class="plate_text">
                        <p class="plate_title bold">spicy mix</p>
                        <p class="plate_description">Lorem ipsum dolor
                            sit amet, consectetur
                            adipisicing elit sed do</p>
                        <p class="plate_price bold">$11.95</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>