<head><link href="./css/app.css" rel="stylesheet"></head><section class="group3">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="list_element">
                    <div class="list-cicles">
                        <div class="list_element-cicle"> </div>
                    </div>
                    <p class="list_element-title">New tastes</p>
                    <p class="list_element-description">Lorem ipsum dolor sit amet, consecte sectetur
                        adipisicing elit, tation omne ullamco laboris nisi ut aliqolore.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="list_element">
                    <div class="list-cicles">
                        <div class="list_element-cicle"> </div>
                        <div class="list_element-cicle"> </div>
                    </div>
                    <p class="list_element-title">New spices</p>
                    <p class="list_element-description">Lorem ipsum dolor sit amet, consecte sectetur
                        adipisicing elit, tation omne ullamco laboris nisi ut aliqolore.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="list_element">
                    <div class="list-cicles">
                        <div class="list_element-cicle"> </div>
                        <div class="list_element-cicle"> </div>
                        <div class="list_element-cicle"> </div>
                    </div>
                    <p class="list_element-title">New dishes</p>
                    <p class="list_element-description">Lorem ipsum dolor sit amet, consecte sectetur
                        adipisicing elit, tation omne ullamco laboris nisi ut aliqolore.</p>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>