<head><link href="./css/app.css" rel="stylesheet"></head><section class="group11">
            <p class="quote"><i class="fas fa-quote-left"></i></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<br> ut labore
                et
                dolore magna aliqua. Ut enim ad minim veniam, quis </p>
            <p class="bold ">Linda Steward</p>
            <div class="networks">
                <a href="" class="networks_elem"><i class="fab fa-facebook-f"></i></a>
                <a href="" class="networks_elem"><i class="fab fa-twitter"></i></a>
                <a href="" class="networks_elem"><i class="fab fa-instagram"></i></a>
                <a href="" class="networks_elem"><i class="fab fa-pinterest-p"></i></a>
                <a href="" class="networks_elem"><i class="fab fa-google-plus-g"></i></a>
            </div>
        </section><script type="text/javascript" src="./js/app.js"></script>