<head><link href="./css/app.css" rel="stylesheet"></head><section class="group5">
    <div class="container">
        <div class="cuisine">
            <h3 class="cuisine_title">Traditional cuisine made easy</h3>
            <p class="cuisine_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
            <div class="list-cicles">
                <div class="list_element-cicle"> </div>
                <div class="list_element-cicle"> </div>
                <div class="list_element-cicle"> </div>
            </div>
            <ul class="small_menu">
                <li class="small_menu-element"><a href="" class="bold">Meals</a></li>
                <li class="small_menu-element"><a href="" class="bold">Spices</a></li>
                <li class="small_menu-element"><a href="" class="bold">Book</a></li>
                <li class="small_menu-element"><a href="" class="bold">Gallery</a></li>
            </ul>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>